<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue JS Link -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Axios link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Link persoal CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <div class="container">
            <div id="app">
                <h1>Mail adresses Generator</h1>
                <div id="mail-container">
                    <ul v-if="mailLists.length === randomEmailNum">
                        <li v-for="mailList in mailLists">
                            <a>{{mailList}}</a>
                        </li>
                    </ul>
                    <button @click="mailGenerator">Premi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JS SRC -->
    <script src="js/main.js"></script>
</body>
</html>